@page "/Friends"

<div class="mainView">
    <div class="container">
        <div class="row">
            <h4>Friends</h4>
        </div>
        <div class="row">
            <div class="col-md-3 favoriteMovies">
                <div class="card mb-4 box-shadow">
                    <img src="test-images/Angelina_Jolie_2_June_2014_(cropped).jpg" alt="movie" style="width:200px">
                    <p class="card-text">Name</p>
                </div>
            </div>
            <div class="col-md-3 favoriteMovies">
                <div class="card mb-4 box-shadow">
                    <img src="test-images/Angelina_Jolie_2_June_2014_(cropped).jpg" alt="movie" style="width:200px">
                    <p class="card-text">Name</p>
                </div>            
            </div>

            <div class="col-md-3 favoriteMovies">
                <div class="card mb-4 box-shadow">
                    <img src="test-images/Angelina_Jolie_2_June_2014_(cropped).jpg" alt="movie" style="width:200px">
                    <p class="card-text">Name</p>
                </div>            
            </div>

            <div class="col-md-3 favoriteMovies">
                <div class="card mb-4 box-shadow">
                    <img src="test-images/Angelina_Jolie_2_June_2014_(cropped).jpg" alt="movie" style="width:200px">
                    <p class="card-text">Name</p>
                </div> 
            </div>


        </div>
        
        
        <div class="row">
            <div class="col-md-3 favoriteMovies">
                <div class="card mb-4 box-shadow">
                    <img src="test-images/Angelina_Jolie_2_June_2014_(cropped).jpg" alt="movie" style="width:200px">
                    <p class="card-text">Name</p>
                </div>
            </div>
            <div class="col-md-3 favoriteMovies">
                <div class="card mb-4 box-shadow">
                    <img src="test-images/Angelina_Jolie_2_June_2014_(cropped).jpg" alt="movie" style="width:200px">
                    <p class="card-text">Name</p>
                </div>            
            </div>

            <div class="col-md-3 favoriteMovies">
                <div class="card mb-4 box-shadow">
                    <img src="test-images/Angelina_Jolie_2_June_2014_(cropped).jpg" alt="movie" style="width:200px">
                    <p class="card-text">Name</p>
                </div>            
            </div>

            <div class="col-md-3 favoriteMovies">
                <div class="card mb-4 box-shadow">
                    <img src="test-images/Angelina_Jolie_2_June_2014_(cropped).jpg" alt="movie" style="width:200px">
                    <p class="card-text">Name</p>
                </div> 
            </div>


        </div>
        @*<div class="row">
            <div class="col-md-3 favoriteMovies">
                <p>Name</p>            
            </div>
            <div class="col-md-3 favoriteMovies">
                <p>Name</p>            
            </div>
            <div class="col-md-3 favoriteMovies">
                <p>Name</p>            
            </div>
            <div class="col-md-3 favoriteMovies">
                <p>Name</p>            
            </div>
        
        </div>*@
        
    </div>
</div>


@code {
    
}