@page "/Movies"
@using test_shit.Network
@using test_shit.Data
@inject NetworkImpl _networkImpl
<div class="mainView">
    <div class="container">
        <div class="row">
            <h4>Movies</h4>
        </div>
        
        <div class="row favoriteMovies">
            <div class="col-md-1 filterMovies">
                <form action="#">
                    <select name="languages" id="lang" type="button" class="dropdownSelect">
                        <option value="sort" selected="selected">Sort</option>
                        <option value="newest">newest</option>
                        <option value="title">Title (A-Z)</option>
                        <option value="title">Title (Z-A)</option>
                    </select>
                </form>
            </div>
            <div class="col-md-1 filterMovies">
                <form action="#">
                    <select name="languages" id="lang" type="button" class="dropdownSelect">
                        <option value="genre" selected="selected">Genre</option>
                        <option value="action">Action</option>
                        <option value="comedy">Comedy</option>
                        <option value="crime">Crime</option>
                        <option value="drama">Drama</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="horror">Horror</option>
                        <option value="romance">Romance</option>
                        <option value="science">Science</option>
                        <option value="thriller">Thriller</option>
                        <option value="historical">Historical</option>

                    </select></form>
            </div>
            <div class="col-md-1 filterMovies">
                <form action="#">
                    <select name="languages" id="lang" type="button" class="dropdownSelect">
                        <option value="ratings">Rating</option>
                        <option value="5stars">5 stars</option>
                        <option value="4stars">4 stars</option>
                        <option value="3stars">3 stars</option>
                        <option value="2stars">2 stars</option>
                        <option value="1star">1 star</option>
                    </select>
                </form>
            </div>
            <div class="col-md-1 filterMovies">
                <form action="#">
                    <select name="languages" id="lang" type="button" class="dropdownSelect">
                        <option value="year" selected="selected">Year</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                    </select>
                </form>
            </div>
            <div class="col-md-1 filterMovies">
                <form action="#">
                    <select name="languages" id="lang" type="button" class="dropdownSelect">
                        <option value="boxoffice" selected="selected">Box office</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                        <option value="">idk</option>
                    </select>
                </form>
            </div>
            <div class="col-md-0 filterMovies">
                <button type="submit" value="Submit" class="goButton">Go</button>
            </div>

            <div class="col-md-0 filterMovies">
                <input type="reset" class="resetFiltersButton"/>
            </div>

        </div>
        <div class="row">
            @if (!_movies.Any())
            {
                <p>Loading...</p>
            }
            else
            {
                @foreach (var item in _movies)
                {
                    <div class="col-md-3 favoriteMovies">
                        <img src=@item.poster_path alt="" style="width: 300px"/>
                    </div>
                }
                <div>done</div>
            }
        </div>
    </div>
</div>

@code {
    private List<Movie> _movies = new List<Movie>();
    string SearchTerm { get; set; } = "";
   
    
    

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _movies = await _networkImpl.getAllMovies();
        }
        catch (Exception e)
        {
            Console.WriteLine("it fucked here");
            Console.WriteLine(e);
        }
    }


}