@page "/SelectedMovie"

<div class="mainView">
    <div class="container">
        <div class="row">
            <div class="col-md-3"><img src="test-images/test-image-1.jpeg" alt="testImages" style="width: 300px; padding-right:30px"></div>
            <div class="col-md-9">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>Title</label>
                    </div>
                    <div class="col-md-10">
                        <p>ahahahhaha </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>Genre</label>
                    </div>
                    <div class="col-md-10">
                        <p>ahahahhaha </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>Runtime</label>
                    </div>
                    <div class="col-md-10">
                        <p>ahahahhaha </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>Year</label>
                    </div>
                    <div class="col-md-10">
                        <p>ahahahhaha </p>
                    </div>
                </div>
            </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Rating</label>
                        </div>
                        <div class="col-md-10">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 movieDescription">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices ipsum eget lacinia pharetra. Aenean volutpat hendrerit ex, interdum luctus dui mattis in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur ultricies cursus arcu, vitae pulvinar urna commodo sed. Donec pretium lobortis laoreet. Integer scelerisque magna nulla, non lacinia metus mattis non. Proin sit amet tellus justo. Phasellus pellentesque hendrerit augue, id venenatis nulla hendrerit quis. Etiam pulvinar lectus a neque pretium, ut facilisis leo sodales.
                    Duis molestie, elit eget tempus finibus, ex ipsum rutrum odio, eget posuere sem tellus sit amet augue. Morbi sit amet est velit. Sed diam ante, iaculis eu urna nec, gravida auctor nunc. Nunc nec pulvinar lectus. Quisque sem odio, sollicitudin nec luctus ut, pharetra vel est. Integer vitae ex ipsum. 
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <h4>Director</h4>
            </div>
            <div class="col-md-11">
                <p>ahahaha</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1">
                <h4>Writer</h4>
            </div>
            <div class="col-md-11">
                <p>ahahaha</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 topCastLabel">
                <h4>Top Cast</h4>
            </div>
            <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-5 stats">
                <h2>Stats...</h2> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices ipsum eget lacinia pharetra. Aenean volutpat hendrerit ex, interdum luctus dui mattis in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur ultricies cursus arcu, vitae pulvinar urna commodo sed. Donec pretium lobortis laoreet. Integer scelerisque magna nulla, non lacinia metus mattis non. Proin sit amet tellus justo. Phasellus pellentesque hendrerit augue, id venenatis nulla hendrerit quis. Etiam pulvinar lectus a neque pretium, ut facilisis leo sodales.
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 comments">
                <h2>Comments...</h2> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices ipsum eget lacinia pharetra. Aenean volutpat hendrerit ex, interdum luctus dui mattis in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur ultricies cursus arcu, vitae pulvinar urna commodo sed. Donec pretium lobortis laoreet. Integer scelerisque magna nulla, non lacinia metus mattis non. Proin sit amet tellus justo. Phasellus pellentesque hendrerit augue, id venenatis nulla hendrerit quis. Etiam pulvinar lectus a neque pretium, ut facilisis leo sodales.
            </div>
        </div>
        
    </div>

   
    
</div>

@code {
    
}