@page "/Footer"


<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h4>Contact</h4>
      </div>
      <div class="col-md-6 offset-1">
      </div>
      <div class="col-md-2 favoriteButton footerStyle">
                     <img src="icons/icons8-movie-64.png" style="width: 150px; position: absolute;"/>
            </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        bestmov@info.com
      </div>
      <div class="col-md-8 offset-1">
                  
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
           +4512345678 
      </div>
      <div class="col-md-8 offset-1">
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <h4>Address</h4>
      </div>
      <div class="col-md-8 offset-1">
                  
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        Some Gade 15
      </div>
      <div class="col-md-6 offset-1">
      </div>
      <div class="col-md-2 footerStyle" >
        <h3 style="position: absolute;">BestMovies Inc.</h3>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        8700 Horsens
      </div>
      <div class="col-md-8 offset-1">
                          
      </div>
    </div>
    
    
    
    
  </div>
</div>

@code {
    
}