@using test_shit.Data
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href=""><img class="logoIcon" src="icons/icons8-movie-64.png"></a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            
            <ul class="navbar-nav">
                <div class="dropdown">
                    <div class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="profileIcon" alt="user" src="icons/icons8-male-user-64.png">
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="Profile">Profile</a>
                        <a class="dropdown-item" href="FavoriteMovies">Favorites</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="Settings">Settings</a>
                    </div>
                </div>
            </ul>
            
            
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="Movies" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> <h5 class="navigation">Movies</h5>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="Actors">
                        <span aria-hidden="true"></span> <h5 class="navigation">Actors</h5>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="Directors">
                        <span aria-hidden="true"></span> <h5 class="navigation">Directors</h5>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <div class="cntr">
                        <div class="cntr-innr">
                            <label class="search" for="inpt_search">
                                <input id="inpt_search" type="text" @bind="SearchTerm"/>
                            </label>
                            <button id="searchBtn" @onclick="@(e => ToMovieDetails(SearchTerm))">Go</button>
                        </div>
                    </div>
                </li>
                
            </ul>


        </div>
    </div>
</nav>


@code {
    private string SearchTerm { get; set; } = "";
    
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");
    private TopRated _aMovies = new TopRated();
    private List<TopRated.Result> _aResults = new List<TopRated.Result>();
    
    private void ToMovieDetails(String mName)
    {
        
        NavigationManager.NavigateTo($"/Search/{mName}",true);
        StateHasChanged();
        
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("searchBar"); // NOTE: call JavaScript function
    }
   

}