@page "/"
 
 
 
 <div class="mainView">
 <div class="container">
     <div class="row">
         <h4>Movies</h4>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="genreTitles">Action</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="genreTitles">Comedy</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="genreTitles">Crime</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="genreTitles">Drama</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="genreTitles">Fantasy</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="genreTitles">Horror</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="genreTitles">Romance</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="genreTitles">Science</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="genreTitles">Thriller</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="genreTitles">Historical</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     
 </div>
</div>