@page "/"
 
 
 
 <div class="mainView">
 <div class="container">
     <div class="row">
         <h4>Movies</h4>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="movieTitles">Action</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="movieTitles">Comedy</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="movieTitles">Crime</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="movieTitles">Drama</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="movieTitles">Fantasy</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="movieTitles">Horror</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="movieTitles">Romance</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="movieTitles">Science</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="movieTitles">Thriller</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-md-12">
             <h3 class="movieTitles">Historical</h3>
         </div>
     </div>
     <div class="row">
         <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
         </div>
     </div>
     
     
     
 </div>
</div>