@page "/Actors"

<div class="mainView">
    <div class="container">
        <div class="row">
            <h4>Actors</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="genreTitles">Most popular</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <h3 class="genreTitles">Most credits</h3>
            </div>
        </div>
        
        <div class="row">
                    <div class="col-md-12">
                        <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
                    </div>
                </div>
    </div>
    
</div>

@code {
    
}