@page "/SelectedActor/{id:int}"
@using test_shit.Network
@using test_shit.Data
@inject NetworkImpl _networkImpl

<div class="mainView">
    <div class="container">
        <div class="row">
            <div class="col-md-2"><img src="test-images/Angelina_Jolie_2_June_2014_(cropped).jpg" style="width: 200px; padding-right:30px"></div>
            <div class="col-md-6">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-9">
                        <p>ahhhaha</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label>Age</label>
                    </div>
                    <div class="col-md-9">
                        <p>ahahahhaha </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label>Birthday</label>
                    </div>
                    <div class="col-md-9">
                        <p>ahahahhaha </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label>Gender</label>
                    </div>
                    <div class="col-md-9">
                        <p>ahahahhaha </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label>Known credits</label>
                    </div>
                    <div class="col-md-9">
                        <p>ahahahhaha </p>
                    </div>
                </div>
            </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Average rating</label>
                        </div>
                        <div class="col-md-9">
                            <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 actorBio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices ipsum eget lacinia pharetra. Aenean volutpat hendrerit ex, interdum luctus dui mattis in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur ultricies cursus arcu, vitae pulvinar urna commodo sed. Donec pretium lobortis laoreet. Integer scelerisque magna nulla, non lacinia metus mattis non. Proin sit amet tellus justo. Phasellus pellentesque hendrerit augue, id venenatis nulla hendrerit quis. Etiam pulvinar lectus a neque pretium, ut facilisis leo sodales. Maecenas sit amet convallis nulla. Vivamus efficitur velit consectetur nulla congue cursus. Sed neque magna, scelerisque sed tellus eu, consequat faucibus ipsum. Vivamus ac elit in nisl tempus congue a vitae ligula.
            Duis molestie, elit eget tempus finibus, ex ipsum rutrum odio, eget posuere sem tellus sit amet augue. Morbi sit amet est velit. Sed diam ante, iaculis eu urna nec, gravida auctor nunc. Nunc nec pulvinar lectus. Quisque sem odio, sollicitudin nec luctus ut, pharetra vel est. Integer vitae ex ipsum. In rutrum odio at libero imperdiet, quis lacinia nisi gravida. Morbi condimentum pretium mollis. Proin eget turpis et nisl varius vulputate. Vivamus ornare, mauris nec laoreet lacinia, nisl nisl dapibus urna, ac ultricies mauris eros sit amet tellus. Mauris massa ligula, condimentum sit amet cursus eget, accumsan in odio. Praesent at dui sed velit tempus vehicula. Pellentesque tempor, libero sagittis vestibulum blandit, est augue condimentum leo, non consequat orci mi et nisi.
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h4>Starred in</h4>
            </div>
            <div class="col-md-12">
                <p>///////////////////////////////////////////////////////////////////// image slider here/////////////////////////////////////////////////////////////</p>
            </div>
        </div>
    </div>

   
    
</div>

@code {
    [Parameter]
    public int id { get; set; }
    
    /*FOR NAVIGATION*/
    /*public Actor _actor;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _actor = await _networkImpl.getActorFromApiWithImdbID(id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }*/


}